@model Pharmacy
@{
    ViewData["Title"] = "Adding New Pharmacy";
}





<form method="post" asp-action="AddPharmacy">
    <div class="col-10">
        <div class="row">
            <label class="form-label">Pharmacy Name</label>
            <input class="form-control" type="text" asp-for="@Model.Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row">
            <lable class="form-label">Pharmacy Phone Number</lable>
            <input class="form-control type="tel" asp-for="@Model.Phonenumber" />
            <span asp-validation-for="Phonenumber" class="text-danger"></span>
        </div>
            <lable>Working Hours</lable>
        <div class="row row-cols-lg-2 row-cols-md-2">
            <div class="col-5">
                <label>Starts</label>
                <input class="form-control" asp-for="@Model.OpeningTime" type="time" />
            </div>
            <div class="col-5">
                <label>Ends</label>
                <input class="form-control" asp-for="@Model.ClosingTime" type="time" />
            </div>

        </div>
        <div class="row">
            <label class="form-label">Description</label>
            <input class="form-control" type="text" asp-for="@Model.Description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <label class="form-label" >Ratting</label>
            <input class="form-control" type="number" step="Any" asp-for="@Model.Ratting"/>
            <span asp-validation-for="Ratting" class="text-danger"></span>
        </div>
        <div class="row">
            <label class="form-label">Address</label>
            <input class="form-control" type="text" asp-for="@Model.Address" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row row-cols-2">
            <div class="col-5">
                <label class="form-label" >Latitude</label>
                <input class="form-control" type="number" step="Any" asp-for="@Model.Latitude" />
                 <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="col-5">
                <label class="form-label" >Longitude</label>
                <input class="form-control" type="number" step="Any" asp-for="@Model.Longitude" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger">


        </div>
        

        <div class="my-5 mx-1">
            <button type="submit" class="btn btn-dark">Add</button>
            <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>