@model IEnumerable<Pharmacy>
@{
    ViewData["Title"] = "Pharmacies Manager";
}
<style>
    a.btn {
        margin-right:3px;
        margin-bottom:3px;
    } 
</style>
<h1>@ViewData["Title"]</h1>
<hr />
<div >
    <nav class="navbar navbar-light bg-light ">
        <div class="grid">
            <div class="row mb-3 mx-2">
                <div class="col-lg-8">
                    <input style="display:inline;" class="form-control mr-sm-2 mb-2" type="search"
                           placeholder="Search Pharmacy" aria-label="Search" />
                </div>
                <div class="col-lg-4">
                    <button style="display:inline;" class="btn btn-outline-primary  my-2 my-sm-0" type="submit">
                        search
                    </button>
                </div>
            </div>
            <div class="row mb-3 mx-3">
                @if (Model != null)
                {
                    
                @foreach (var pharmacy in Model)
                {
                    
                
                <div class="col-12 col-sm-6 ">
                    <div class="card mb-3 px-0">
                        <div class="card-header">
                            <h3>@pharmacy.Name pharmacy</h3>
                        </div>
                        <div class="card-body">
                            <p>@pharmacy.Description</p>
                            <h6>our customers rattings : @pharmacy.Ratting</h6>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-dark" asp-action="AddStock" asp-controller="Pharmacy" asp-route-PharmacyId="@pharmacy.Id">Add Stock</a>
                            <a class="btn btn-outline-dark" asp-action="EditStock" asp-controller="Pharmacy" asp-route-PharmacyId="@pharmacy.Id" >View </a>
                                    <form class="d-inline-block" method="post" asp-action="DeletePharmacy" asp-route-Id="@pharmacy.Id">
                                        <button type="submit" class="btn btn-outline-danger d-inline">Remove </button>
                                    </form>
                        </div>
                    </div>
                        </div>


                    }
                }
                else
                {
                    <div class="align-content-center"> 
                        <h2>There are no Pharmacies added to the system yet!</h2>
                    </div>
                }
            </div>
            <div class="m-3"> @*look up what classes in bootsrap will keep it in da buttom?*@
                <a class="btn btn-dark" asp-controller="Pharmacy" asp-action="AddPharmacy">Add Pharmacy</a>
            </div>
        </div>
    </nav>
</div>